[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ethereum = "*"
"z3-solver" = ">=4.5"
py-flags = "*"
coverage = "*"
attrs = "*"

[dev-packages]
pylint = "*"
yapf = "*"

[requires]
python_version = "3.6"
